@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
    font-family: 'Baloo 2', cursive;
}

.navbar {
    background-color: #a6e7ff !important;
}

.navbar-brand {
    font-size: 20pt;
}

.navbar-collapse {
    font-size: 15pt;
}

.navbar-nav {
    margin-left: auto;
}

.section-info {
    line-height: 10px;
}

.carousel {
    background: #e0f7ff !important;
    border-radius: 0.5em;
}

.carousel-indicators li {
    background-color: #00098a !important;
}

.carousel-indicators .active {
    background-color: #70c8ff !important;
}

.carousel-item {
    color: #000000 !important;
    min-height: 200px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display:block;
}

.fa-chevron-left,
.fa-chevron-right {
    color: #0084ff !important;
}

.carousel-control-prev {
    left: 20%;
}
.carousel-control-next {
    right: 20%;
}

ul.announcement-list {
    margin-left: 0.5em;
    padding-top: 1em;
}

.announcement-item {
    font-size: 14pt;
}

a:hover {
    text-decoration: none !important;
}

button {
    text-decoration: none !important;
}
