<!-- <div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button id="week1" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            </button>
        </h2>
    </div>

    <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials1" class="row"></div>
            </div>
        </div>
    </div>
</div> -->
<div class="card">
    <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
            <button id="week2" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2"
                aria-expanded="false" aria-controls="collapse2">
            </button>
        </h2>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials2" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingThree">
        <h2 class="mb-0">
            <button id="week3" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3"
                aria-expanded="false" aria-controls="collapse3">
            </button>
        </h2>
    </div>
    <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials3" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingFour">
        <h2 class="mb-0">
            <button id="week4" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            </button>
        </h2>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials4" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingFive">
        <h2 class="mb-0">
            <button id="week5" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            </button>
        </h2>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="headingFive" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials5" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingSix">
        <h2 class="mb-0">
            <button id="week6" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            </button>
        </h2>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="headingSix" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials6" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingSeven">
        <h2 class="mb-0">
            <button id="week7" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
            </button>
        </h2>
    </div>
    <div id="collapse7" class="collapse" aria-labelledby="headingSeven" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials7" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingEight">
        <h2 class="mb-0">
            <button id="week8" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
            </button>
        </h2>
    </div>
    <div id="collapse8" class="collapse" aria-labelledby="headingEight" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials8" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingNine">
        <h2 class="mb-0">
            <button id="week9" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse9" aria-expanded="false" aria-controls="collapse8">
            </button>
        </h2>
    </div>
    <div id="collapse9" class="collapse" aria-labelledby="headingnine" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials9" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingTen">
        <h2 class="mb-0">
            <button id="week10" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
            </button>
        </h2>
    </div>
    <div id="collapse10" class="collapse" aria-labelledby="headingTen" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials10" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingEleven">
        <h2 class="mb-0">
            <button id="week11" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
            </button>
        </h2>
    </div>
    <div id="collapse11" class="collapse" aria-labelledby="headingEleven" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials11" class="row"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingTwelve">
        <h2 class="mb-0">
            <button id="week12" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
            </button>
        </h2>
    </div>
    <div id="collapse12" class="collapse" aria-labelledby="headingTwelve" data-parent="#weekly-info">
        <div class="card-body">
            <div class="container">
                <div id="materials12" class="row"></div>
            </div>
        </div>
    </div>
</div>

