<div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button id="week1" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            </button>
        </h2>
    </div>

    <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#weekly-info">
        <div id="card-body-1" class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Weekly Materials</h5>
                        <hr>
                        Discussion 1
                        <ul>
                            <li>
                                <a class="bordered" href="#" target="_blank">Slides</a>
                                <a class="bordered" href="#" target="_blank">Attendance</a>
                                <a class="bordered" href="#" target="_blank">Worksheet</a>
                                <a class="bordered" href="#" target="_blank">Solutions</a>
                            </li>
                        </ul>
                        Discussion 2
                        <ul>
                            <li>
                                <a class="bordered" href="#" target="_blank">Slides</a>
                                <a class="bordered" href="#" target="_blank">Attendance</a>
                                <a class="bordered" href="#" target="_blank">Worksheet</a>
                                <a class="bordered" href="#" target="_blank">Solutions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>Other Resources</h5>
                        <hr>
                        Exam Prep
                        <ul>
                            <li>
                                <a class="bordered" href="#" target="_blank">Worksheet</a>
                                <a class="bordered" href="#" target="_blank">Solutions</a>
                            </li>
                        </ul>
                        Notes and Tips
                        <ul>
                            <li>
                                <a class="bordered" href="#" target="_blank">Spring 2020 Notes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
            <button id="week2" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2"
                aria-expanded="false" aria-controls="collapse2">
            </button>
        </h2>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#weekly-info">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingThree">
        <h2 class="mb-0">
            <button id="week3" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3"
                aria-expanded="false" aria-controls="collapse3">
            </button>
        </h2>
    </div>
    <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#weekly-info">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingFour">
        <h2 class="mb-0">
            <button id="week4" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            </button>
        </h2>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#weekly-info">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingFive">
        <h2 class="mb-0">
            <button id="week5" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            </button>
        </h2>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="headingFive" data-parent="#weekly-info">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingSix">
        <h2 class="mb-0">
            <button id="week6" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            </button>
        </h2>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="headingSix" data-parent="#weekly-info">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingSeven">
        <h2 class="mb-0">
            <button id="week7" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
            </button>
        </h2>
    </div>
    <div id="collapse7" class="collapse" aria-labelledby="headingSeven" data-parent="#weekly-info">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingEight">
        <h2 class="mb-0">
            <button id="week8" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
            </button>
        </h2>
    </div>
    <div id="collapse8" class="collapse" aria-labelledby="headingEight" data-parent="#weekly-info">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>
