<footer>
    <hr class="footer">
    <div id="social-media">
        <a href="https://www.linkedin.com/in/jemmy-zhou/" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://github.com/jemmy-z/cs61a-v3" class="fa fa-github" target="_blank"></a>
        <a href="mailto:jemmyzhou@berkeley.edu" class="fa fa-envelope"></a>
    </div>
    <div id="copyright">
        <p>
            &copy; 2020 Jemmy Zhou All Rights Reserved
        </p>
        <p>
            {% VERSION %}
        </p>
    </div>
</footer>
